/* 
    Document   : styles
    Created on : 24/10/2013, 01:23:37 PM
    Author     : Juan Diego
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.table, #centrado, tr
{
    text-align: center; 
}